/* sets up styling for the entire document*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* sets up common styling for the specific elements and the class */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* sets up styling for the body element */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* sets up additional styling for the wrapper class */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/* sets up styling for the header */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}
/* sets up styling to the card class that encompasses the password generation window */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}
/* sets up styling for the pseudo element ::after in the card header section */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}
/* sets up styling for the card body */
/* added position styling to help position the hidden form */
.card-body {
  min-height: 100px;
  position: relative;
}
/* sets up styling for the card footer */
.card-footer {
  text-align: center;
}
/* sets up styling for the pseudo element ::before in the card footer section */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}
/* sets up styling for the pseudo element ::after in the card footer section */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}
/* sets up stying for the button */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
/* sets up styling for the button when disabled */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}
/* sets up styling for floating right */
.float-right {
  float: right;
}
/* sets up styling for the password text area */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
/* Adding styling for the user form */
/* sets up styling for the form */
.popup-form {
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 375px;
  background-color: rgba(200,200,200,1);
  padding: 5px;
}
/* sets up styling for the form verbiage */
.form-inputs-text {
  margin: 6px 2px 2px 2px;
  padding: 5px;
  border-bottom:2px solid #434344;
  border-radius: 6px;
}
/* sets up styling for the form labels */
.form-input-group {
  margin: 2px;
  padding: 5px 5px 5px 20px;
  border:2px dashed #434344;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
/* sets up styling for the form hint span */
.form-input-group .hint {
  font-size: .8em;
  padding: 5px;
}
/* sets up error styling for the form inputs */ 
.red-border {
  border-color: red;
}
/* sets up additional slider styling */
.yes-no {
  width:50px;
}


/* sets up styling for varoius small screen devices */
@media (max-width: 690px) {
  /* updates the styling for the button */
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  /* updates the styling for the text area */
  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  /* updates the styling for the button */
  .btn {
    font-size: 0.8rem;
  }
  /* updates the styling of the form */
  .popup-form {
    width: 100%;
  }
}
/* added an additional small screen styling */
@media (max-width: 375px) {
  /* updates the styling of the form input grouping */
  .form-input-group {
    flex-direction: column;
  }
}